.color-primary {
  color: slategrey; }

.color-primary-dark {
  color: darkslategrey; }

.color-primary-light {
  color: lightgrey; }

.color-accent {
  color: orange; }

.color-white {
  color: white; }

.background-grey {
  background: lightgray; }

.dark {
  background: darkslategray;
  color: white; }

.heading-primary {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 5rem;
  font-size: 5rem;
  letter-spacing: .1rem;
  word-spacing: 1rem;
  font-weight: 400;
  text-transform: uppercase; }

.heading-secondary {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3rem;
  letter-spacing: .2rem;
  word-spacing: .75rem;
  font-weight: 300;
  text-transform: capitalize; }

.title {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3rem;
  letter-spacing: .2rem;
  word-spacing: .75rem;
  font-weight: 500;
  text-transform: capitalize; }

.paragraph {
  display: block;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: .05rem;
  word-spacing: .5rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: black; }

.main-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

header {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  word-spacing: .5rem;
  text-transform: capitalize;
  color: white;
  background: grey; }

section {
  position: raltive;
  min-height: 100vh;
  padding: 2rem;
  background: rgba(47, 79, 79, 0.8); }

.section-small {
  min-height: 50vh; }

.section-landing {
  padding: 0rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(47, 79, 79, 0.8)); }

.section-profile {
  background: rgba(255, 255, 255, 0.8); }

.section-projects {
  background: rgba(0, 0, 0, 0.8); }

.section-social {
  background: linear-gradient(rgba(47, 79, 79, 0.8), darkslategray); }

footer {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background: grey; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url("../assets/bg.jpg");
  background-size: cover;
  background-position: top center;
  z-index: -1; }

.project-list {
  text-align: center; }

.project {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: 70vh;
  padding: 2rem;
  font-size: 1.5rem;
  background: linear-gradient(rgba(47, 79, 79, 0.8), rgba(47, 79, 79, 0.8)), url("../assets/project-default.png");
  background-size: cover;
  background-position: top center; }
  .project-text {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    padding: 1rem;
    background: darkslategray;
    color: white; }

.social-link-list {
  text-align: center; }

.social-link {
  display: inline-block;
  position: relative;
  margin: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: white; }
