*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(47, 79, 79, 0.8), rgba(47, 79, 79, 0.8)), url("../assets/bg.jpg");
  background-size: cover;
  background-position: top center;
  z-index: -1; }

.color-primary {
  color: green; }

.color-primary-dark {
  color: darkgreen; }

.color-primary-light {
  color: lightgreen; }

.color-accent {
  color: orange; }

.color-white {
  color: white; }

.background-grey {
  background: lightgray; }

.dark {
  background: darkslategray;
  color: white; }

.heading-primary {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 5rem;
  font-size: 5rem;
  letter-spacing: .1rem;
  word-spacing: 1rem;
  font-weight: 400;
  text-transform: uppercase; }

.heading-secondary {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3rem;
  letter-spacing: .2rem;
  word-spacing: .75rem;
  font-weight: 300;
  text-transform: capitalize; }

.title {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  word-spacing: .5rem;
  text-transform: capitalize; }

.paragraph {
  display: block;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: .05rem;
  word-spacing: .5rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: black;
  background: rgba(255, 255, 255, 0.5); }

.main-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

header {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  word-spacing: .5rem;
  text-transform: capitalize;
  color: white;
  background: grey; }

section {
  position: raltive;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem; }

footer {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background: grey; }
