
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

@import "base/colors";
@import "base/typography";
@import "base/mixins";

@import "components/header";
@import "components/section";
@import "components/footer";
