
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url('../assets/bg.jpg');
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.social-links {
  text-align: center;
}

.social-link {
  // positioning 
  display: inline-block;
  position: relative;
  margin: 2rem;
  // sizing
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  // font
  line-height: 5rem;
  font-size: 2rem;
  // color
  background: rgba(black, .5);
  color: white;
}


@import "base/mixins";
@import "base/colors";
@import "base/typography";

@import "components/header";
@import "components/section";
@import "components/footer";
