footer {
  // positioning 
  // position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  // sizing
  width: 100%;
  padding: 1.5rem;
  // font
  text-align: center;
  font-size: 1.3rem;
  // color
  color: white;
  background: grey;
}