$footer-height: 45px;

footer {
  // positioning 
  // position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  // sizing
  width: 100%;
  height: $footer-height;
  // font
  text-align: center;
  line-height: $footer-height;
  font-size: 1.3rem;
  // color
  color: white;
  background: grey;
}