$header-height: 45px;

header {
  // positioning 
  // position: fixed;
  display: block;
  top: 0;
  left: 0;
  // sizing
  width: 100%;
  height: $header-height;
  // font
  text-align: center;
  line-height: $header-height;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  word-spacing: .5rem;
  text-transform: capitalize;
  // color
  color: white;
  background: grey;
}