$color-primary: slategrey;
$color-primary-light: lightgrey;
$color-primary-dark: darkslategrey;

$color-secondary: slateblue;
$color-secondary-light: lightblue;
$color-secondary-dark: darkslateblue;

$color-accent: orange;

.color-primary {
  color: $color-primary;
}

.color-primary-dark {
  color: $color-primary-dark;
}

.color-primary-light {
  color: $color-primary-light;
}

.color-accent {
  color: $color-accent;
}

.color-white {
  color: white;
}

.background-grey {
  background: lightgray;
}

.dark {
  background: darkslategray;
  color: white;
}